body {
  background-color: #059033;
}

.image{
    float: right;
    margin-right: 50px; /* Adds space between the image and the text to its left */
    margin-bottom: 50px; /* Adds space below the image */
	margin-top: -140px;
}

.video {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Example: centers in the full viewport height */
    /* Add other styling as needed, e.g., background-color */
}


/* Optional: Add basic styling for readability */
.intro {
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto; /* Helps contain the float within the parent container */
}
.intro {
	background-color:#7BAA47;
	margin-left: 50px;
	margin-right: 50px;
}

@media (max-width: 768px) {
        flex-direction: column; /* Stacks the items vertically on small screens */
}