body {
  background-color: #059033;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

}
.index {
	background-color:#7BAA47;
	margin-left: 25px;
	margin-right: 25px;
}

img {
  max-width: 100%; /* Shrinks if smaller than container */
  height: auto;    /* Maintains aspect ratio */
}

